<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta property="og:title" content="Better IUT RCC" />
<meta property="og:url" content="https://betteriutrcc.bayfield.dev/" />
<meta property="og:description" content="Better IUT RCC est une extension navigateurs qui améliore l'interface de l'intranet de l'IUT RCC." />

<meta property="og:type" content="website" />
<meta property="og:image" content="https://betteriutrcc.bayfield.dev/favicon.ico" />
<meta property="og:image:alt" content="favicon.ico" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="225">
<meta property="og:image:height" content="225">

<meta content="#FFFFFF" data-react-helmet="true" name="theme-color" />
<meta content="Better IUT RCC est une extension navigateurs qui améliore l'interface de l'intranet de l'IUT RCC." data-react-helmet="true" name="description" />
<meta content="Better IUT RCC" data-react-helmet="true" name="author" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="apple-mobile-web-app-title" content="Better IUT RCC">
<meta name="application-name" content="Better IUT RCC">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="theme-color" content="#FFFFFF">
<meta name="robots" content="noindex,nofollow" />
<meta name="googlebot" content="noindex,nofollow" />
<meta name="google" content="notranslate" />
